/* Use freely available fonts, avoids Google fonts too. */
:root {
  --md-text-font: 'tulia';
}

/* Trying to match a bit my color palette. */
:root > * {
  --md-primary-fg-color: darkgreen;
  --md-default-bg-color: #f7f7f7;
  --md-code-bg-color: #e8e8e8;
}
@media screen {
  /* Slate theme, i.e. dark mode */
  [data-md-color-scheme='slate'] {
    --md-default-bg-color: #272727;
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1);
  }
}

/* Bump the default text size for larger screens.
Sadly, it makes tooltips looks un-centered, need to investigate
but it looks to be dynamically reajusted through JS. */
@media screen and (min-width: 45em) {
  .md-typeset {
    font-size: 0.9rem;
  }
  .md-typeset :is(.admonition, details) {
    font-size: 0.8rem;
  }
  .md-tooltip__inner.md-typeset {
    font-size: 0.8rem;
  }
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: bold;
  letter-spacing: inherit;
}

.side-by-side {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 45em) {
  .side-by-side {
    flex-direction: row;
  }
  figure {
    padding: 0 1rem;
  }
}
figure {
  text-align: center;
}
figure img {
  max-height: 60vh;
  margin: auto;
  border: 1px solid darkgreen;
  padding: 1px;
}

article p > a {
  text-decoration: underline;
}

/* Adapted for 3-columns setup grid. */
.md-typeset .grid {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

/* Custom admonition with open book for stories. */
:root {
  --md-admonition-icon--book: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M0 3.75A.75.75 0 0 1 .75 3h7.497c1.566 0 2.945.8 3.751 2.014A4.496 4.496 0 0 1 15.75 3h7.5a.75.75 0 0 1 .75.75v15.063a.75.75 0 0 1-.755.75l-7.682-.052a3 3 0 0 0-2.142.878l-.89.891a.75.75 0 0 1-1.061 0l-.902-.901a3 3 0 0 0-2.121-.879H.75a.75.75 0 0 1-.75-.75v-15zm11.247 3.747a3 3 0 0 0-3-2.997H1.5V18h6.947a4.5 4.5 0 0 1 2.803.98l-.003-11.483zm1.503 11.485V7.5a3 3 0 0 1 3-3h6.75v13.558l-6.927-.047a4.5 4.5 0 0 0-2.823.971z"/></svg>')
}
.md-typeset .admonition.book,
.md-typeset details.book {
  border-color: rgb(43, 155, 70);
}
.md-typeset .book > .admonition-title,
.md-typeset .book > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .book > .admonition-title::before,
.md-typeset .book > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--book);
          mask-image: var(--md-admonition-icon--book);
}

