@font-face {
  font-family: 'tulia';
  src: url('../fonts/tulia_regular.woff2') format('woff2'),
       url('../fonts/tulia_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'tulia';
  src: url('../fonts/tulia_bold.woff2') format('woff2'),
       url('../fonts/tulia_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'tulia';
  src: url('../fonts/tulia_italic.woff2') format('woff2'),
       url('../fonts/tulia_italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
